.regContainer {
  width: 20%;
  @media (max-width: 1500px) {
    width: 30%;
  }
  @media (max-width: 1200px) {
    width: 40%;
  }
  @media (max-width: 768px) {
    width: 70%;
  }
  * {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5%;
  }
  h1 {
    text-align: center;
  }
}

.mailContainer {
  display: flex;
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

.hiddenRadio [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.hiddenRadio [type="radio"] + img {
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.hiddenRadio [type="radio"]:checked + img {
  border: 2px solid #f00;
  border-radius: 50%;
  &focus {
    box-shadow: none !important;
  }
}

.backButton {
  width: auto;
}

.avatarsContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.avatarPrev {
  width: 100px;
}

.avatarContainer {
  display: flex;
}

#uploadInput {
  display: none;
}

.uploadedAvatar,
.avatarPrev {
  border-radius: 50%;
}

.btnContainer {
  display: flex;
}
