.userData,
.description {
  display: flex;
  align-items: center;
  * {
    margin-right: 5%;
  }
}

.singlePost {
  width: 95%;
}

.image {
  width: 100%;
}

.description {
  margin-top: 3%;
  font-size: smaller;
  span {
    font-weight: bold;
  }
}
.singlePost {
  margin-bottom: 20%;
  padding-bottom: 5%;
  background-color: white;
  border-radius: 3%;
}

.options {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.userData {
  padding-left: 2%;
}
