.userData,
.description {
  display: flex;
  align-items: center;
  * {
    margin-right: 2%;
    @media (max-width: 768px) {
      margin-right: 5%;
    }
  }
}

.singlePost,
.image {
  width: 100%;
}

.description {
  @media (max-width: 768px) {
    margin-top: 3%;
  }
  margin-top: 2%;
  margin-left: 3%;
  font-size: smaller;
  span {
    font-weight: bold;
  }
}
.singlePost {
  margin-bottom: 3%;
  margin-top: 3%;
  padding-bottom: 5%;
  background-color: white;
  border-radius: 3%;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.options {
  display: flex;
  justify-content: space-between;
}

.optionsContainer {
  margin: 3% 3% 0 3%;
  display: flex;
  justify-content: space-between;
}

.userData {
  padding-left: 2%;
}

.userName {
  cursor: pointer;
}
