.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: white;
  border-radius: 3%;
  margin: 3%;
  padding-bottom: 5%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.userData {
  margin-top: 2%;
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  width: 90%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3px;
  column-gap: 3px;
  img {
    width: 200px;
    height: 200px;
    margin: 1%;
  }
  @media (max-width: 768px) {
    img {
      width: 100px;
      height: 100px;
      margin: 1%;
    }
  }
}

.avatarContainer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.dataContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  border-bottom: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  padding: 3% 0;
  margin-top: 5%;
}

.singleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
