.loginContainer {
  width: 20%;
  height: 100%;
  color: grey;
  .alternativeLogin,
  .orLine,
  .orDivider,
  .signUp {
    margin-top: 5%;
  }
  button {
    width: 100%;
    font-size: x-small;
    margin-top: 5%;
    height: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled {
      background-color: #b2dffc;
      color: white;
    }
  }
  @media (max-width: 1500px) {
    width: 30%;
  }
  @media (max-width: 1200px) {
    width: 40%;
  }
  @media (max-width: 768px) {
    width: 70%;
  }
}

.logo {
  width: 100%;
  margin-top: 20%;
  height: auto;
}

.loginForm {
  width: 100%;
  * {
    width: 100%;
  }
}

.signUp {
  text-align: center;
}

fieldset[class^="MuiOutlinedInput-notchedOutline"] {
  padding: 0;
}
